.container {
  height: 100vh;

  display: flex;
  flex-direction: column;

  font-family: Roboto, Helvetica Neue, sans-serif;
}

.chart-title-container {
  height: 140px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  background-color: #e91e63;
}

.chart-title {
  font-size: 18px;
  font-family: Roboto, sans-serif;
  color: #ffffff;

  margin-bottom: 16px;
  margin-left: 25px;
}

.project-title {
  font-family: "Chalkduster", sans-serif;
  color: #ffffff;
}

.material-icons.icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.menu-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mat-toolbar-home {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: #e91e63;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.nav-menu {
  position: fixed;
  width: 240px;

  background: rgba(0, 0, 0, .15);
}

.history-button {
  width: 100%;

  display: flex;
  align-items: flex-start;

  font-weight: bold;
  color: #ffffff;
}

.content-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  background-color: #2b2b2b;
}

.content {
  width: 100%;
  margin: 20px;
}

.chart-container {
  margin-left: 260px;
  //height: 1200px;

  display: flex;
  flex-direction: column;

  //background: linear-gradient(to top, #f6f1d3, #648880 65%, #293f50);
}

.course-layout {
  width: 100%;

  display: flex;
  justify-content: flex-end;
}
