<div class="container">
  <mat-toolbar class="mat-toolbar-home">
    <mat-toolbar-row>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <i class="material-icons">menu</i>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="menu-item">
          <i class="material-icons">euro_symbol</i>
          <span>Course</span>
        </button>
        <button mat-menu-item class="menu-item">
          <i class="material-icons">equalizer</i>
          <span>Graphics</span>
        </button>
        <button mat-menu-item class="menu-item" (click)="logout()">
          <i class="material-icons">power_settings_new</i>
          <span>Logout</span>
        </button>
      </mat-menu>

      <span class="project-title">Tendencia</span>
      <span class="example-spacer"></span>
      <i class="material-icons icon">favorite</i>
      <i class="material-icons icon">delete</i>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="chart-title-container">
    <div class="chart-title">Chart One</div>
  </div>
  <div class="content-container">
    <div class="content">
      <div class="nav-menu">
        <app-nav-menu-item [title]="charts"></app-nav-menu-item>
        <button mat-button class="history-button">History</button>
      </div>
      <div class="chart-container">
        <div class="course-layout">
          <mat-form-field>
            <mat-select placeholder="Currency" [formControl]="animalControl">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let type of types" [value]="type">
                {{type.abbreviation}}
              </mat-option>
            </mat-select>
            <mat-hint>{{animalControl.value?.value}}</mat-hint>
          </mat-form-field>
        </div>
        <app-chart></app-chart>
      </div>
    </div>
  </div>
</div>

