.flex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  @extend .flex-box;

  width: 100vw;
  height: 100vh;

  background: #466368;
  background: linear-gradient(to right, #f6f1d3, #648880 65%, #293f50);
}

.login-title {
  margin-bottom: 40px;

  font-family: "Chalkduster", sans-serif;
  font-size: 50px;
  color: #ffffff;
}

.login-button {
  width: 160px;

  color: #e91e63;
}

/*{
  #6897bb
  #a9b7c6
  #2b2b2b
}*/
