.flex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  @extend .flex-box;

  width: 100vw;
  height: 100vh;

  background: #466368;
  background: linear-gradient(to right, #f6f1d3, #648880 65%, #293f50);
}

.input-container {
  @extend .flex-box;
  width: 25%;
  height: 40%;

  justify-content: space-around;

  background: #ffffff;
  border-radius: 6px;
}

.login-title {
  margin-bottom: 40px;

  font-family: "Chalkduster", sans-serif;
  font-size: 50px;
  color: #ffffff;
}

.login-field {
  width: 90%;
}

.login-button {
  width: 70%;

  color: #648880;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.blue {
  color: #648880;
}
