<div class="container">
  <div class="login-title">
    Tendencia
  </div>

  <mat-card class="input-container">

    <mat-form-field class="login-field">
      <input name="email" matInput placeholder="e-mail" [(ngModel)]="email">
    </mat-form-field>
    <mat-form-field class="login-field">
      <input name="password" matInput placeholder="password" type="password" [(ngModel)]="password">
    </mat-form-field>

    <button class="login-button" mat-raised-button (click)="submit()">
      SING IN
      <i class="material-icons blue md-18">exit_to_app</i>
    </button>
    <button class="login-button" mat-raised-button (click)="singUp()">
      SING UP
      <i class="material-icons blue md-18">open_in_new</i>
    </button>

  </mat-card>
</div>
